<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Litter Watch | Articles</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body id="page3">
<div id="main">
  <!-- header -->
  <div id="header">
    <ul class="site-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="articles.html" class="act">Articles</a></li>
      <li><a href="complaint-form.html">Complaint Form</a></li>
    </ul>
    Resize and insert image3 here
    <!--div class="logo"><a href="#"><img src="image3.jpg" height="200px" width="500px" alt="" /></a></div-->
  </div>
  <!-- content -->
  <div id="content">
    <div class="indent1">
      <h2>Articles</h2>
      <ul class="list1">
        <li><img src="images5.jpg" alt="" />
          <div class="zoom"><a href="article.html">Article 1</a><br />
            Article 1 description is to be here...</div>
        </li>
        <li><img src="image6.jpg" alt="" />
          <div class="zoom"><a href="#">Article 2</a><br />
            Article 2 description is to be here...</div>
        </li>
        <li><img src="images7.jpg" alt="" />
          <div class="zoom"><a href="#">Article 3</a><br />
            Article 3 description is to be here...</div>
        </li>
        <li><img src="images8.jpg" alt="" />
          <div class="zoom"><a href="#">Article 4</a><br />
            Article 4 description is to be here...</div>
        </li>
      </ul>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <div class="indent">
      <div class="fleft">Copyright - Litter Watch 2022</div>
       </div>
  </div>
</div>
</body>
</html>
