<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>

<form action="#" th:action="@{/create}" th:object="${complaint}" method="post">
    Address: <input type="text" th:field="*{place}"/>
    Description:<input type="text" th:field="*{description}"/>
    <!--Date:<input type="datetime-local" th:field="*{date}"/>
    Time:<input type="datetime-local" th:field="*{time}"/>
    Status:<input type="text" th:field="*{status}"/>-->
    <input type="submit" value="submit">
</form>



</body>
</html>
