<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<a href="/logout">logout</a>


<span th:if="${complaint ne null}">
        <div th:text="${complaint.id}"></div>
        <div th:text="${complaint.place}"></div>
        <div th:text="${complaint.description}"></div>
        <div th:text="${complaint.formattedDateTime}"></div>
        <div th:text="${complaint.status}"></div>
</span>

<span th:if="${client.admin eq true}">
        <form action="#" th:action="@{/update}" method="post">
            <input type="hidden" th:field="${complaint.id}"/>
            Change Status
            <select class="form-control" name="selectedStaus">
                <option value="0">select option</option>
                <option th:each="option : ${statusOptions}" th:value="${option}" th:text="${option}"></option>
            </select>
            <input type="submit" value="submit">
        </form>
</span>

<span th:if="${complaint eq null}">No Complain found </span>

</body>
</html>
