<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Litter Watch | Site Map</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
<body id="page6">
<div id="main">
  <!-- header -->
  <div id="header">
    <ul class="site-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="articles.html">Articles</a></li>
      <li><a href="complaint-page.html">Complaint Form</a></li>
      <li><a href="sitemap.html" class="act">Site Map</a></li>
    </ul>
    <div class="logo"><a href="#"><img src="images/logo.gif" alt="" /></a></div>
  </div>
  <!-- content -->
  <div id="content">
    <div class="indent1">
      <h2>Site Map</h2>
      <p>Navigate through the site using the following directories.</p>
      <ul class="list2">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Articles</a>
          <ul>
            <li><a href="article.html">Article 1</a></li>
            <li><a href="#">Article 2</a></li>
            <li><a href="#">Article 3</a></li>
          </ul>
        </li>
        <li><a href="#">Complaint Form</a></li>
      </ul>
      <p></p>
    </div>
  </div>
  <!-- footer -->
  <div id="footer">
    <div class="indent">
      <div class="fleft">Copyright - Litter Watch 2022</div>
    </div>
  </div>
</div>
</body>
</html>
