<!--
<!DOCTYPE html >
&lt;!&ndash;PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">&ndash;&gt;

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="sitemap::layout(~{::section})">
<head>
  <title>Litter Watch | Test Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body id="page9">

<section>
  <div id="content">
    <div class="indent1">
      <h2>Test Complaint Form</h2>
      <p>Have you noticed trash cans that has been over filled or simply garbage that has been discarded inapproprately? Please inform us so we inform the responsble party for rectification.</p>


      <form class="row g-1" novalidate style="padding: 10px 250px 250px 250px;margin: 10px 100px 10px 100px;" action="#" th:action="@{/create}" th:object="${complaint}" method="post">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Location</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" th:field="*{place}" placeholder="Enter the location here...">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{description}"></textarea>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>


    </div>
  </div>
  </div>
</section>



</body>
</html>-->
